/* .allCars{
  margin-top: 20px;
  outline: 2px solid red;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
} */

.main {
  /* outline: 2px solid orange; */
  height: auto;
  /* padding: 20px; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.carCard{
  /* outline: 2px solid green; */
  width: 40vw;
  height: 30vh;
  position: relative;
  /* object-fit: contain; */
}

.carInfo {
  outline: 2px solid pink;
  max-width: 100%;
  height: auto;
}

.imageContainer img{
  outline: 2px solid red;
  max-width: 100%;
  height: auto;
}