.main {
  /* outline: 2px solid orange; */
  height: auto;
  /* padding: 20px; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.allMotorcycles {
  margin-top: 20px;
  /* outline: 2px solid red; */
  height: 100vh;
  display: flex;
  /* align-items: flex-start; */
  justify-content: space-around;
}

.motorcycleCard{
  width: 40vw;
  height: 30vh;
  position: relative;
}

.motorcycleInfo{
  outline: 2px solid pink;
  max-width: 100%;
  height: auto;
}

.imageContainer img{
  outline: 2px solid red;
  max-width: 100%;
  height: auto;
}