.cardContainer {
  /* outline: 2px solid red; */
  width: 30vw;
  height: 50vh;
  margin-bottom: 40px;
}

.vehicleDisplay {
  outline: 2px solid black;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}


.imgContainer {
  /* height: 100%; */
  /* max-width: 100%; */
}

.imgContainer img {
  max-width: 100%;
  max-height: 100%;
}

.cardContainer a{
  color: inherit;
  text-decoration: none;
}

.carImage {

  /* object-fit: fill; */
  /* border: 2px solid red; */
  /* max-height: 100%;
  max-width: 100%; */
  /* height: auto;
  width: 100%; */
}
