.loginPage {
  background-color: cornflowerblue;
  min-height: 93vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-width: 30vw;
  min-height: 30vh;
}

.loginHeader{
}

.loginInputs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 15vw;
  height: 15vh;
  /* outline: 2px solid green; */
}

.loggedIn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.receiptContainer{
  outline: 2px solid green;
  width: 50vw;
  /* max-height: 30vh; */
  height: auto;
  /* display: flex; */
  margin-bottom: 12px;
}

.receiptInfo {
  /* outline: 2px solid red; */
  margin-bottom: 12px;
  display: flex;
}

.receiptInfo img {
  height: auto;
  max-width: 30%;
}