.main {
  outline: 2px solid orange;
  height: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

 .carImage{
  height: auto;
  width: 20rem;
}

.vehicleDisplay{
  outline: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}