* {
  margin: 0px;
  padding: 0px;
}

.app{
  background-color: palevioletred;
  min-height: 100vh;
}

.appNav {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.appDisplay {
  height: 100%;
}