/* TODO Style cart page so pictures of cars are side by side in a long row */
.userCart {
  outline: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.cartItemsContainer {
  border: 2px solid red;
  height: 80%;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 80vh;
}

.cartItems{
  border: 2px solid green;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 4px;
}

.itemMapContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  outline: 1px solid black;
  padding: 6px;
  margin-bottom: 16px;
  /* width: 30%; */
}
.itemMapContainer img {
  /* outline: 2px solid green; */
  max-width: 18vw;
  height: auto;
}
 
.box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid red;
  width: 75%;
  height: 100%;
}

.box2{
  outline: 2px solid green;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: 50%;
}